nodered/commands.txt
[{"id":"aeda70f5.c3d968","type":"function","z":"19e42ce2.3ea1ab","name":"add CORS auth headers","func":"msg.headers = {\n       'Access-Control-Allow-Origin':\n       'http://mobileiotplatformtest.mybluemix.net',\n       \n       'Access-Control-Allow-Methods':\n       'POST, GET, DELETE, PUT',\n       \n       'Access-Control-Allow-Headers':\n       'X-Requested-With, Content-Type'\n    };\nreturn msg;","outputs":1,"noerr":0,"x":305,"y":192,"wires":[["d9945e8a.c60eb"]]},{"id":"d9945e8a.c60eb","type":"json","z":"19e42ce2.3ea1ab","name":"","x":359,"y":267,"wires":[["2da44199.a74ab6","97251525.3e09e","4029b041.e25e"]]},{"id":"18036a80.10fc56","type":"http in","z":"19e42ce2.3ea1ab","name":"","url":"/command","method":"get","swaggerDoc":"","x":104,"y":47,"wires":[["aeda70f5.c3d968"]]},{"id":"2da44199.a74ab6","type":"http response","z":"19e42ce2.3ea1ab","name":"","x":562,"y":267,"wires":[]},{"id":"97251525.3e09e","type":"ibmiot out","z":"19e42ce2.3ea1ab","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"GS7","deviceType":"Mobile","eventCommandType":"action","format":"json","data":"{\"data\":\"data\"}","qos":"","name":"IBM IoT","service":"registered","x":456,"y":367,"wires":[]},{"id":"4029b041.e25e","type":"debug","z":"19e42ce2.3ea1ab","name":"display","active":true,"console":"false","complete":"true","x":573,"y":218,"wires":[]}]