nodered/data.txt
[{"id":"488fa59e.2da3bc","type":"debug","z":"e3371c47.811ea8","name":"display","active":false,"console":"false","complete":"true","x":742,"y":458,"wires":[]},{"id":"e5f0369e.c4d148","type":"function","z":"e3371c47.811ea8","name":"add CORS auth headers","func":"msg.headers = {\n       'Access-Control-Allow-Origin':\n       'http://mobileiotplatformtest.mybluemix.net',\n       \n       'Access-Control-Allow-Methods':\n       'POST, GET, DELETE, PUT',\n       \n       'Access-Control-Allow-Headers':\n       'X-Requested-With, Content-Type'\n    };\nreturn msg;","outputs":1,"noerr":0,"x":508,"y":458,"wires":[["39cd3172.02bd66","488fa59e.2da3bc"]]},{"id":"7dd9f6f5.e5a3b8","type":"function","z":"e3371c47.811ea8","name":"gather payload","func":"msg.payload=msg.payload.payload;\nreturn msg;","outputs":1,"noerr":0,"x":399,"y":372,"wires":[["e5f0369e.c4d148"]]},{"id":"39cd3172.02bd66","type":"http response","z":"e3371c47.811ea8","name":"","x":594,"y":542,"wires":[]},{"id":"9f4af217.23aad","type":"split","z":"e3371c47.811ea8","name":"","splt":"","x":312,"y":302,"wires":[["7dd9f6f5.e5a3b8"]]},{"id":"3afb7140.343796","type":"cloudant in","z":"e3371c47.811ea8","name":"Search Last Record","cloudant":"","database":"mobiledevicedata","service":"MobileIoTPTest-nodered-cloudantNoSQLDB","search":"_idx_","design":"createdDate","index":"createdDate","x":273,"y":223,"wires":[["9f4af217.23aad"]]},{"id":"708625b.b33eedc","type":"function","z":"e3371c47.811ea8","name":"Set query parms","func":"msg.payload = \n{\n    query:\"*:*\",\n    sort:\"-createdDate<number>\",\n    limit:1\n};\n\nreturn msg; ","outputs":1,"noerr":0,"x":160,"y":147,"wires":[["3afb7140.343796"]]},{"id":"7a3916cd.a18828","type":"http in","z":"e3371c47.811ea8","name":"","url":"/data","method":"get","swaggerDoc":"","x":92,"y":71,"wires":[["708625b.b33eedc"]]}]