nodered/events.txt
[{"id":"2ef72344.b461b4","type":"function","z":"36f915f2.83c282","name":"set timestamp","func":"\nvar now = new Date();\nmsg.createdDate = now.valueOf();\nmsg.createdShortDate = now.toLocaleDateString();\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":130,"wires":[["6b8b0b65.618ab4","173a00c3.49d4d7"]]},{"id":"6b8b0b65.618ab4","type":"cloudant out","z":"36f915f2.83c282","name":"","cloudant":"","database":"mobiledevicedata","service":"MobileIoTPTest-nodered-cloudantNoSQLDB","payonly":false,"operation":"insert","x":501.6666259765625,"y":243.33331298828125,"wires":[]},{"id":"173a00c3.49d4d7","type":"debug","z":"36f915f2.83c282","name":"","active":true,"console":"false","complete":"true","x":494,"y":130,"wires":[]},{"id":"b4a8d5b8.caa52","type":"ibmiot in","z":"36f915f2.83c282","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"GS7","applicationId":"","deviceType":"Mobile","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":false,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"0","x":94.99996948242188,"y":43,"wires":[["2ef72344.b461b4"]]}]